//! **************************************************************************
// Written by: Map P.68d on Tue Sep 27 19:13:21 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T7" LEVEL 1;
COMP "SDout" LOCATE = SITE "J14" LEVEL 1;
COMP "rst_n" LOCATE = SITE "H15" LEVEL 1;
COMP "rs232_rx" LOCATE = SITE "N14" LEVEL 1;
COMP "rs232_tx" LOCATE = SITE "M14" LEVEL 1;
COMP "Lchclk" LOCATE = SITE "H14" LEVEL 1;
COMP "Sftclk" LOCATE = SITE "H13" LEVEL 1;
SCHEMATIC END;

